//
// 導入事例のスタイル
//

#ex {
    padding-bottom: 2rem;
}

.ex_box {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    //border: solid 1px $black;
    border-radius: 7px;
    padding-bottom: 2rem;

    .eximage {
        width: 100%;
        aspect-ratio: 65/34;
        //height: 17.5rem;
        background-size: contain;
        border-radius: 7px 7px 0 0;
        background-repeat: no-repeat;

        &.first {
            background-image: url(../images/ex/jirei_1.jpg);
        }

        &.second {
            background-image: url(../images/ex/jirei_2.jpg);
        }

        &.third {
            background-image: url(../images/ex/jirei_3.jpg);
        }

    }

    h2 {
        margin-left: 2rem;
        margin-bottom: 1rem;
        font-weight: 400;
    }

    p {
        margin: 0 2rem;
    }
}


//pc表示

@media #{$pc} {
    #ex {
        .carousel {
            display: flex;
            justify-content: space-between;

            .ex_box {
                width: calc((100% - 8rem) / 3);
                
                h2 {
                    margin: 1rem 3rem 1rem;
                }
                
                p {
                    margin: 0 3rem;
                }
            }
        }
    }
}
