//
// ファーストビューのスタイル
//


.firstview {
    margin-right: 0;
    margin-left: 0;
    margin-top: 6rem;
    padding-top: 2rem;
    background: url(../images/firstview/bg.png);
    background-size: cover;

    h2 {
        width: 24rem;
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .logo {
        margin-left: 2rem;
    }

    .woman {
        img {
            width: 100vw;
        }
    }
}

//pc表示
@media #{$pc} {
    .firstview {
        background: url(../images/firstview/bg_pc.png);
        background-size: cover;
        background-position: center;
        position: relative;
        height: calc(100vh - 10rem);
        margin-top: 10rem;

        h2 {
            position: absolute;
            top: 5rem;
            left: calc(50% - 42rem);
            width: 74rem;

            span {
                color: $white;
            }
        }

        .logo {
            position: absolute;
            top: 23rem;
            left: 17rem;
            z-index: 99;
        }

        .woman {
            position: absolute;
            left: 34vw;
            bottom: 0;

            img {
                width: 66vw;
            }
        }
    }
}
