//
// ファーストビューのスタイル
//


.firstview {
    margin-right: 0;
    margin-left: 0;
    margin-top: 6rem;
    padding-top: 2rem;
    background: url(../images/firstview/bg.png);
    background-size: cover;
    
    h2 {
        width: 24rem;
        margin-left: 2rem;
        margin-top: 2rem;
    }
    
    .logo {
        margin-left: 2rem;
    }

    .woman {
        img {
            width: 100vw;
        }
    }
}
