//
// お問い合わせのスタイル
//

#inquiry {
    padding-bottom: 0.1rem;
}

.button {
    &.question {
        background-color: $white;
        border: 1px solid #d9d9d9;
        padding: 1rem 0;
        box-shadow: -3px 3px 3px rgb(0 0 0 / 10%);
    }
}


// pc表示

@media #{$pc} {
    #inquiry {
        p {
            text-align: center;
        }
        
        .some_buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            
            .button {
                margin: 2rem;
                
                &.question {
                    font-size: 2.4rem;
                    padding: 0;
                    transition: all .4s ease;
                    
                    &:hover {
                        background-color: $navy;
                    }
                } 
            }
        }
    }
}