//
// メリットのスタイル
//

#merit {
    >p {
        margin-top: 0;
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;

        .merit_box {
            margin-bottom: 3rem;

            h2 {
                text-align: center;
            }

            .meritimage {
                width: 100%;
                height: 15.4rem;
                border-radius: 7px;
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
                background-repeat: no-repeat;

                &.first {
                    background-image: url(../images/merit/merit1.png);
                    background-position-x: 1rem;
                }

                &.second {
                    background-image: url(../images/merit/merit2.png);
                    background-position-x: 1rem;
                }

                &.third {
                    background-image: url(../images/merit/merit3.png);
                }

                &.forth {
                    background-image: url(../images/merit/merit4.png);
                }
            }

        }
    }
}

//pc表示

@media #{$pc} {
    #merit {
        .container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 4rem;
            
            .merit_box {
                width: calc((100% - 4rem) / 2);
                
                .merit_box_small {
                    display: flex;
                    
                    p {
                        margin-left: 2rem;
                    }
                }
            }
        }
    }
}