@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 400;
  color: #403B3B;
}

section {
  margin: 4rem 2rem 4rem;
}

h1 {
  font-family: yu-gothic-pr6n, sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
  position: relative;
}
h1::before {
  content: "";
  width: 2rem;
  height: 2px;
  background-color: #40F3A6;
  position: absolute;
  top: 4rem;
  left: calc(50% - 1rem);
}

h2 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  color: #403B3B;
  text-decoration: none;
}

.button {
  width: 22rem;
  margin: 0 auto 2rem;
  padding: 1.5rem 0;
  text-align: center;
  background-color: #40F3A6;
  border-radius: 7px;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
}

@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }

  section {
    margin: 5rem 14rem 5rem;
  }

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.2rem;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  padding: 1rem;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
header .hamburger_button {
  padding-right: 1rem;
}
header .hamburger_button::before {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  content: "\f0c9";
}
header .sp_menu {
  display: none;
  z-index: 100;
  background-color: #fff;
  position: absolute;
  top: 6rem;
  left: 0;
  opacity: 0.9;
  padding: 6rem 0;
  width: 100vw;
  height: calc(100vh - 12rem);
  box-sizing: border-box;
}
header .sp_menu .sp_menu_list {
  margin: 5rem;
}
header .sp_menu .sp_menu_list li {
  padding: 1.5rem 0;
}

@media (max-width: 768px) {
  .pc_menu {
    display: none;
  }
}
.firstview {
  margin-right: 0;
  margin-left: 0;
  margin-top: 6rem;
  padding-top: 2rem;
  background: url(../images/firstview/bg.png);
}
.firstview h2 {
  width: 24rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
.firstview .logo {
  margin-left: 2rem;
}
.firstview .woman img {
  width: 100vw;
}

.action_button {
  display: flex;
  margin: 0;
  position: fixed;
  top: 61rem;
  width: 100vw;
  background: #fff;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.action_button div {
  width: 50%;
  padding: 2rem;
}
.action_button div:first-child {
  border-right: solid 1px #403B3B;
}

#merit p {
  text-align: center;
}
#merit .container {
  display: flex;
  flex-direction: column;
}
#merit .container .merit_box {
  margin-bottom: 3rem;
}
#merit .container .merit_box h2 {
  text-align: center;
}
#merit .container .merit_box .meritimage {
  width: 33.5rem;
  height: 15.4rem;
  border-radius: 7px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
#merit .container .merit_box .meritimage.first {
  background-image: url(../images/merit/merit1.png);
  background-position-x: 1rem;
}
#merit .container .merit_box .meritimage.second {
  background-image: url(../images/merit/merit2.png);
  background-position-x: 1rem;
}
#merit .container .merit_box .meritimage.third {
  background-image: url(../images/merit/merit3.png);
}
#merit .container .merit_box .meritimage.forth {
  background-image: url(../images/merit/merit4.png);
}

#fee {
  background-color: #241F60;
  color: #fff;
  margin-right: 0;
  margin-left: 0;
  padding: 4rem 2rem;
}
#fee .month_fee {
  text-align: right;
}
#fee .container {
  display: flex;
  align-items: center;
}
#fee .container div {
  width: 14.6rem;
  padding: 2.4rem;
  border-radius: 7px;
  background-color: #fff;
  color: #403B3B;
  text-align: center;
}
#fee .container div span {
  font-size: 3.7rem;
}
#fee .container > span::before {
  font-family: "Font Awesome 5 Free";
  font-size: 3rem;
  font-weight: 900;
  content: "+";
  color: #40F3A6;
  margin: auto 1rem;
}

/*# sourceMappingURL=style.css.map */
