@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 400;
  color: #403B3B;
}

section {
  margin: 4rem 2rem 4rem;
}

h1 {
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  position: relative;
  margin-top: 0;
  color: #241F60;
}
h1::before {
  content: "";
  width: 2rem;
  height: 2px;
  background-color: #40F3A6;
  position: absolute;
  top: 4.3rem;
  left: calc(50% - 1rem);
}

h2 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  color: #403B3B;
  text-decoration: none;
}

.button {
  width: 22rem;
  margin: 0 auto 2rem;
  padding: 1.5rem 0;
  text-align: center;
  background-color: #40F3A6;
  color: #241F60;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 7px;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
}

@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }

  section {
    margin: 5rem 14rem 5rem;
  }

  h1 {
    font-size: 4rem;
  }
  h1::before {
    width: 4rem;
    height: 4px;
    top: 7rem;
    left: calc(50% - 2rem);
  }

  h2 {
    font-size: 2.4rem;
  }

  .button {
    width: 38rem;
    margin: 0 auto 2rem;
    padding: 0;
    font-size: 2.4rem;
    font-weight: 400;
    transition: all 0.4s ease;
  }
  .button:hover {
    background-color: #241F60;
  }
  .button a {
    display: block;
    padding: 2rem 0;
  }
  .button a:hover {
    color: #40F3A6;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  padding: 1rem;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
header .hamburger_button {
  padding-right: 1rem;
}
header .hamburger_button::before {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  content: "\f0c9";
  color: #241F60;
}
header .sp_menu {
  display: none;
  z-index: 100;
  background-color: #fff;
  position: absolute;
  top: 6rem;
  left: 0;
  opacity: 0.9;
  padding: 6rem 0;
  width: 100vw;
  height: calc(100vh - 12rem);
  box-sizing: border-box;
}
header .sp_menu .sp_menu_list {
  margin: 5rem;
}
header .sp_menu .sp_menu_list li {
  font-size: 2rem;
  padding: 1.5rem 0;
}
header .sp_menu .sp_menu_list li a {
  display: block;
}

@media (max-width: 768px) {
  .pc_menu {
    display: none;
  }
}
@media (min-width: 769px) {
  header {
    padding: 1rem 8rem 1rem 12rem;
  }
  header img {
    vertical-align: bottom;
  }
  header .hamburger_button {
    display: none;
  }
  header .pc_menu .pc_menu_list {
    display: flex;
  }
  header .pc_menu .pc_menu_list li {
    font-size: 2rem;
    box-sizing: border-box;
    text-align: center;
  }
  header .pc_menu .pc_menu_list li:nth-child(1) {
    width: 15rem;
  }
  header .pc_menu .pc_menu_list li:nth-child(2) {
    width: 10rem;
  }
  header .pc_menu .pc_menu_list li:nth-child(3) {
    width: 15rem;
  }
  header .pc_menu .pc_menu_list li:nth-child(4) {
    width: 18rem;
  }
  header .pc_menu .pc_menu_list li:nth-child(5) {
    width: 20rem;
  }
  header .pc_menu .pc_menu_list li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  header .pc_menu .pc_menu_list li a::before {
    content: "";
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #40F3A6;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  header .pc_menu .pc_menu_list li a:hover::before {
    top: 4rem;
    visibility: visible;
    opacity: 1;
  }
}
.firstview {
  margin-right: 0;
  margin-left: 0;
  margin-top: 6rem;
  padding-top: 2rem;
  background: url(../images/firstview/bg.png);
  background-size: cover;
}
.firstview h2 {
  width: 24rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
.firstview .logo {
  margin-left: 2rem;
}
.firstview .woman img {
  width: 100vw;
}

@media (min-width: 769px) {
  .firstview {
    background: url(../images/firstview/bg_pc.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: calc(100vh - 10rem);
    margin-top: 8rem;
  }
  .firstview h2 {
    position: absolute;
    top: 5rem;
    left: calc(50% - 32rem);
    width: 74rem;
  }
  .firstview h2 span {
    color: #fff;
  }
  .firstview .logo {
    position: absolute;
    top: 25vh;
    left: 9vw;
    z-index: 99;
  }
  .firstview .logo img {
    width: 30vw;
  }
  .firstview .woman {
    position: absolute;
    left: 42vw;
    bottom: 0;
  }
  .firstview .woman img {
    width: 56vw;
  }
}
#action_button {
  display: flex;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 100;
}
#action_button div {
  width: 50%;
  padding: 2rem;
  text-align: center;
  background: #fff;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}
#action_button div:first-child {
  border-right: solid 1px #403B3B;
}
#action_button div .document::before {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  content: "\f56d";
  margin-right: 1rem;
}
#action_button div .try::before {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  content: "\f109";
  margin-right: 1rem;
}

@media (min-width: 769px) {
  #action_button {
    display: none;
    /* うざい？
    bottom: 5px;
    right: 6.5rem;
    flex-direction: column;
    width: 20rem;

    div {
        width: 100%;
        margin: 5px;
        font-size: 1.6rem;
        border-radius: 7px;
        border: 1px solid gray;

        &:hover {
            background-color: $green;
        }

        a {
            border-radius: 7px;

        }
    }  */
  }
}
#merit > p {
  margin-top: 0;
  text-align: center;
}
#merit .container {
  display: flex;
  flex-direction: column;
}
#merit .container .merit_box {
  margin-bottom: 3rem;
}
#merit .container .merit_box h2 {
  text-align: center;
}
#merit .container .merit_box .meritimage {
  width: 100%;
  aspect-ratio: 336/155;
  border-radius: 7px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#merit .container .merit_box .meritimage.first {
  background-image: url(../images/merit/merit1.png);
}
#merit .container .merit_box .meritimage.second {
  background-image: url(../images/merit/merit2.png);
}
#merit .container .merit_box .meritimage.third {
  background-image: url(../images/merit/merit3.png);
}
#merit .container .merit_box .meritimage.forth {
  background-image: url(../images/merit/merit4.png);
}

@media (min-width: 769px) {
  #merit .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  #merit .container .merit_box {
    width: calc((100% - 4rem) / 2);
  }
  #merit .container .merit_box .merit_box_small {
    display: flex;
  }
  #merit .container .merit_box .merit_box_small p {
    margin-left: 2rem;
  }
}
#fee {
  background-color: #241F60;
  color: #fff;
  margin-right: 0;
  margin-left: 0;
  padding: 4rem 2rem;
}
#fee h1 {
  color: #fff;
}
#fee .month_fee {
  margin-left: calc(50% + 2.2rem);
}
#fee .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#fee .container div {
  width: 14.6rem;
  padding: 2.4rem;
  border-radius: 7px;
  background-color: #fff;
  color: #403B3B;
  text-align: center;
}
#fee .container div span {
  font-size: 3.7rem;
}
#fee .container > span::before {
  font-family: "Font Awesome 5 Free";
  font-size: 3rem;
  font-weight: 900;
  content: "+";
  color: #40F3A6;
  margin: auto 1rem;
}

@media (min-width: 769px) {
  #fee {
    padding: 5rem 14rem;
  }
  #fee .month_fee {
    margin-left: calc(50% + 21rem);
  }
  #fee .container {
    margin-bottom: 7rem;
  }
  #fee .container div {
    width: 50rem;
    padding: 3rem 0;
  }
  #fee .container div span {
    font-size: 7.2rem;
  }
  #fee .container > span::before {
    font-size: 6rem;
    margin: auto 9rem;
  }
  #fee p {
    text-align: center;
    margin-bottom: 4rem;
  }
}
#ex {
  padding-bottom: 2rem;
}

.ex_box {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding-bottom: 2rem;
}
.ex_box .eximage {
  width: 100%;
  aspect-ratio: 65/34;
  background-size: contain;
  border-radius: 7px 7px 0 0;
  background-repeat: no-repeat;
}
.ex_box .eximage.first {
  background-image: url(../images/ex/jirei_1.jpg);
}
.ex_box .eximage.second {
  background-image: url(../images/ex/jirei_2.jpg);
}
.ex_box .eximage.third {
  background-image: url(../images/ex/jirei_3.jpg);
}
.ex_box h2 {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.ex_box p {
  margin: 0 2rem;
}

@media (min-width: 769px) {
  #ex .carousel {
    display: flex;
    justify-content: space-between;
  }
  #ex .carousel .ex_box {
    width: calc((100% - 8rem) / 3);
  }
  #ex .carousel .ex_box h2 {
    margin: 1rem 3rem 1rem;
  }
  #ex .carousel .ex_box p {
    margin: 0 3rem;
  }
}
/*リンクの形状*/
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #241F60;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  color: #40F3A6;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
  filter: drop-shadow(-1px 1px 3px gray);
}
#page-top a::before {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  color: #40F3A6;
  font-weight: 900;
  content: "\f077";
}
@media (min-width: 769px) {
  #page-top a {
    display: none;
  }
}

#page-top a:hover {
  background: #241F60;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 1rem;
  bottom: 6rem;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*　上に上がる動き　*/
#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*　下に下がる動き　*/
#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}
#offer {
  background-color: #241F60;
  margin-right: 0;
  margin-left: 0;
  padding: 4rem 2rem;
  color: #fff;
}
#offer h1 {
  color: #fff;
}

@media (min-width: 769px) {
  #offer p {
    text-align: center;
  }
  #offer .some_buttons {
    display: flex;
    justify-content: center;
  }
  #offer .some_buttons .button {
    margin: 2rem;
  }
}
#inquiry {
  padding-bottom: 0.1rem;
}

.button.question {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 1rem 0;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 769px) {
  #inquiry p {
    text-align: center;
  }
  #inquiry .some_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #inquiry .some_buttons .button {
    margin: 2rem;
  }
  #inquiry .some_buttons .button.question {
    font-size: 2.4rem;
    padding: 0;
    transition: all 0.4s ease;
  }
  #inquiry .some_buttons .button.question:hover {
    background-color: #241F60;
  }
}
.footer_container {
  padding: 2rem 2rem 7.5rem;
  background-color: #241F60;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer_container address {
  font-style: normal;
  font-size: 1.2rem;
  margin-left: 2rem;
}
.footer_container small {
  margin: 2rem auto 0;
}

@media (min-width: 769px) {
  .footer_container {
    padding: 4rem 14rem 2rem;
    justify-content: center;
  }
  .footer_container small {
    margin: 1rem 0rem 1rem 2rem;
  }
}
.hamburger_button.active::before {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  content: "\f00d";
}

.sp_menu.panelactive {
  display: block;
}

/*# sourceMappingURL=style.css.map */
